* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#nav_button{
    font-family: Arial; 
    color: White;
    font-size: auto;
    font-weight: bold;
    background-color: red;
    width: 200px;
    height: 60px;
    margin-top: 15px;
    border-radius: 10px;

}
#nav_button:hover{
    background-color: rgba(255,0,0, 0.7);
}
#nav_button:active{
    transform: translateY(3px);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

#nav_table{
    width: 100%;
    

}
#button_td{
    display: inline;
    float: right;
    width: auto;
    margin-right: 5px;
}
#logo_td{
    float: left;
    width: 8%;
}

#header_bar{
    width: 100%;
    height: 100px;
    background-color: lightgrey;
    border-radius: 15px;
  
 
}
#logo{
    width: 100%;
    height: 100px;   
    transform: translateX(-5%);
}
.card-action {
	padding: 10px;
	text-align: center;
}
main {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.like-button {
	background-color: #2ecc71;
	color: #fff;
	border: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}

.dislike-button {
	background-color: #e74c3c;
	color: #fff;
	border: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}

.card-image {
	position: relative;
	overflow: hidden;
}

.card-image img {
	display: block;
	height: auto;
    width: 100%;


}
.card-content h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.card-content {
	padding: 10px;
    text-align: center;
}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-width: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    left: 50%;
}
.card-content p {
	font-size: 16px;
}                                                  
.card-action {
	padding: 10px;
	text-align: center;
}
footer {
	background-color: #f2f2f2;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	color: #999;
}

