 .navbar-icon {
     width: 55px;
 }

 .header {
     padding: 0px;
     text-align: left;
 }

 .header img {
     height: 60px;
     width: 60px;
     margin-right: 10px;
 }

 .header span {
     font-size: 30px;
     font-weight: bold;
 }

 .profile-picture {
     width: 250px;
     height: 250px;
     padding: 12px;
     object-fit: cover;
 }

@media (max-width: 991.98px) {
     .navbar-toggler {
         margin-left: auto !important;
         margin-right: 0.5rem !important;
     }

     .navbar-nav.ml-auto:not(.collapse) {
         display: flex !important;
     }

     .navbar:not(.navbar-expand-lg) {
         padding-right: 1rem;
     }

     .navbar-collapse {
         padding-left: 1rem;
     }
 }