body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  html{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
    margin-top: auto;
  }
  body::-webkit-scrollbar{
    width: 0px;
    background-color: transparent;
  }
  
  footer {
      background-color: #333;
      color: white;
      padding: 10px;
      text-align: center;
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  