body{
    
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    
}

html{
    overflow: scroll;
}

#nav_button{
    font-family: Arial; 
    color: White;
    font-size: auto;
    font-weight: bold;
    background-color: red;
    width: 200px;
    height: 60px;
    margin-top: 15px;
    border-radius: 10px;

}
#nav_button:hover{
    background-color: rgba(255,0,0, 0.7);
}
#nav_button:active{
    transform: translateY(3px);
}

#nav_table{
    width: 100%;
    

}
#button_td{
    display: inline;
    float: right;
    width: auto;
    margin-right: 5px;
}
#logo_td{
    float: left;
    width: 8%;
    height: 100%;
    
}

#header_bar{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 90px;
    background-color: lightgrey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px ;
  
 
}
#logo{
    width: 120px;  
    height: 120px;
    transform: translateY(-14%);
}



#middle{
    width:60%;
    background-color: white;
    box-shadow: 1px 2px 2px 2px;
    height: auto;
    text-align: center;
    flex-grow: 1;
}

#Left_Ann{
    position: fixed;
    width: 19%;
    height: 300px;
    top: 50%;
    transform: translateY(-50%);
    background-color: blue;
}

#Right_Ann{
    position: fixed;
    float: right;
    width: 19%;
    height: 300px;
    top: 50%;
    
    transform: translateY(-50%);
   
    background-color: pink;
    
}

Main{
    width: 100%;
}


#Footbar{
   
    background-color: grey;
    
}
#ServerDaten{
    position: fixed;
    font-size: large;
    transform: translateY(0%);
}
#link{
    text-decoration: none;
    color: white;
    margin: 5px;
    
    
}
#Einstellung{
    width: 60px;
    height: 60px;
    display:none;
    float: right;
    position: fixed;
    top: 2%; 
    transform: translateX(-100%);
    transition:right 0.3s ease-in-out;
    

}

#Sidebar{
    position: fixed;
    width: 250px;
    top: 100px;
    height: 100%;
    right: -250px;
    transition: right 0.3s ease-in-out;
    background-color: lightgray;
    border-top-left-radius: 15px;
    padding: 5px;
}
#Sidebar.open{
    right: 0px;
}

@media (max-width: 992px) { 
    #button_td{
        display: none;
    }
    #middle{
        min-width:992px;
        box-shadow: 1px 2px 2px 2px;
    }
    #Einstellung{
        display: block;
    }
    #Sidebar{
        display: block;
    }
    #Left_Ann{
        display:  none;
    }
    #Right_Ann{
        display: none;
    }
}

@media (min-width: 992px) {
    #Sidebar{
        display: none;
    }
}
